<nav class="social-icons">
    <a href="https://github.com/jsatt" rel="me" target="_blank"><i class="fa-brands fa-github"></i></a>
    <a href="https://www.facebook.com/jsatt0" rel="me" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://twitter.com/jsatt" rel="me" target="_blank"><i class="fa-brands fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/jsatterfield" rel="me" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    <a href="mailto:jsatt@jsatt.com"><i class="fa-solid fa-envelope"></i></a>
    <a href="{{ (path.Split ((.GetPage "/").OutputFormats.Get "RSS").Permalink).Dir }}" target="_blank"><i class="fa-solid fa-square-rss"></i></a>
</nav>
