<nav class="social-icons">
    <a href="https://github.com/jsatt" rel="me" target="_blank"><i class="fa-brands fa-github" title="Github: jsatt"></i></a>
    <a href="https://www.facebook.com/jsatt0" rel="me" target="_blank"><i class="fa-brands fa-facebook" title="Facebook: jsatt0"></i></a>
    <a href="https://twitter.com/jsatt" rel="me" target="_blank"><i class="fa-brands fa-twitter" title="Twitter: @jsatt"></i></a>
    <a href="https://fosstodon.org/@jsatt" rel="me" target="_blank"><i class="fa-brands fa-mastodon" title="Mastodon: @jsatt@fosstodon.org"></i></a>
    <a href="https://www.linkedin.com/in/jsatterfield" rel="me" target="_blank"><i class="fa-brands fa-linkedin" title="Linkedin: jsatterfield"></i></a>
    <a href="mailto:jsatt@jsatt.com"><i class="fa-solid fa-envelope" title="Email: jsatt@jsatt.com"></i></a>
    <a href="{{ (path.Split ((.GetPage "/").OutputFormats.Get "RSS").Permalink).Dir }}" target="_blank"><i class="fa-solid fa-square-rss" title="RSS"></i></a>
</nav>
